body {
  background-color: rgb(66, 158, 176);
}
.box1 {
  background-color: rgb(188, 116, 38);
  width: 100%;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 2% auto;
  position: relative;
}
.box2 {
  background-color: rgb(45, 176, 188);
  width: 100%;
  height: 20%;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
}
.ss1 {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 1%;
  left: 2%;
  bottom-margin: 10%;
}
.ss2 {
  color: background-color: rgb(50, 50, 255);
  font-size: 1.2vw;
  position: absolute;
  top: 10%;
  left: 2%;
}
.ss3 {
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 70%;
  left: 2%;
}
